node_modules
dist/*
*.log

# Optional REPL histroy
.node-repl-history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-intergrity

# dotenv environment variables file
.env

# next.js build output
.next